<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
                <binding name="ServiceSoap1">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://encryptme.net/webapi.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="ServiceReference1.ServiceSoap"
                name="ServiceSoap" />
            <endpoint address="https://encryptme.net/webapi.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap1" contract="ServiceReference1.ServiceSoap"
                name="ServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>
